body{
    margin: 0px;
    
    font-family: Arial, sans-serif;
    background-color: white;

}
@media(max-width:2450px){
    .body{
      margin: 0px;
      padding: 0px;
    width: 0px;
    }
}
.navbar{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    
    height: 240px;
    z-index: 1000;
}

.left-section{
    display: flex;
    flex-direction: row;
    
}
@media(max-width:4580px){
    .left-section{
        margin-right: 0px;
    }
}
.yt{
    cursor: pointer;
    height: 110px;
    width: 390px;
    margin-top: 60px;
    margin-left: 60px;
}

@media(max-width:4580px){
    .left-section{
        margin-left: 0px;
    }
}
.menu{
    cursor: pointer;
    padding: 8px;
    margin-top: 68px;
    margin-left: 80px;
    height: 80px;
    margin-right: 30px;
    width: 80px;
}
.menu:hover{
    background-color: lightgray;
    border-radius: 22px;
}
.text{
    width: 2150px;
    height: 148px;
    font-size: 55px;
    
    margin-top: 33px;
    border-top-left-radius: 42px;
    border-bottom-left-radius: 42px;
    margin-left: 600px;
}
@media(max-width:4580px){
    .text{
        width:1800px;
    }
}
@media(max-width:4180px){
    .text{
        width:1400px;
    }
}
@media(max-width:3780px){
    .text{
        width:1000px;
    }
}
@media(max-width:3400px){
    .text{
        width:800px;
    }
}
@media(max-width:3180px){
    .text{
        width:600px;
    }
}
@media(max-width:2980px){
    .text{
        width:200px;
    }
}
@media(max-width:2600px){
    .text{
        width:0px;
        visibility: hidden;
        padding: 0;
        border: none;
    }
}

.search{
    cursor: pointer;
    height: 148px;
    width: 200px;
    background-color: #F8F8F8;
    border-top-right-radius: 42px;
    border-bottom-right-radius: 42px;
}
@media(max-width:2400px){
    .search{
       margin-left: -500px;
    }
}

.pic{
    height: 64px;
    width: 49px;
}
@media(max-width:2400px){
    .pic{
       margin-left: -500px;
    }
}
.microphone{
    cursor: pointer;
    background-color:   lightgray;
    border-radius: 100%;
    margin-left: 99px;
    height: 111px;
    width: 89px;
    border: none;
}
.leftbar{
    
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 240px;
    width: 300px;
}
@media(max-width:2450px){
    .leftbar{
       width: 0px;
       padding: 0px;
       border: none;
       visibility: hidden;
    }
}
.bars{

    background-color: white;
    z-index: 1;
    top: 0;
    position: absolute;
    right: 0;
    left:0;
 
    margin-top: 226px;
 
    height: 166px;
    margin-left: 360px;
    white-space: nowrap;


}
.a{
    cursor: pointer;
    border: none;
    margin-top: 0px;
    background-color: #F8F8F8;
    height: 126px;
    min-width: 240px;
    font-weight: bold;
    margin-right: 58px;
    font-size: 48px;    
    color: black;
    border-radius: 22px;
}
.a:active{
    background-color: black;
    color: white;
}
.fullvideo{
        cursor: pointer;
    padding-top: 300px;
    height: 1300px;
    width: 1400px;
 
    margin-left: 110px;
    margin-bottom: -180px;
    padding-right: -122px;
    position: relative;

}

.thumbnail{
    width: 1490px;
    border-radius: 42px;
  
}

.timer{
    border-radius: 12px;
    padding : 4px;
    font-weight: 500;
color: white;
background-color: black;
width:max-content;
font-size: 60px;
height: 70px;
margin: 3px 0px 3px 8px;
position: absolute;
bottom: 225px;
right: -50px;
bottom: 495px;
}
.video-details{
    margin-top: 42px;
    display: flex;
    flex-direction: row;
}
.imgsize{
    height: 140px;
}
.gg{
    font-size: 68px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 32px;
}
.otherinfo{
    margin-left: 45px;
}
.name,.views{

    font-size: 60px;
    margin-bottom: 12px;
    margin-top: 0px;
}
.right-section{
    margin-top: -55px;
    margin-left: 570px;
    color: white;
    position: relative;
}
@media(max-width:5090px){
    .right-section{
        margin-left:auto;
        margin-right:0px;
    }
}
@media(max-width:4580px){
    
}
.number{
    border-radius: 22px;
    position: absolute;
    top: 100px;
    min-width: 60px;
    width: 70px;
    padding-top: 13px;
    padding-left: 11px;
    font-size: 40px;
    font-weight: bold;
    height: 54px;
    right: 330px;
    background-color: rgb(173, 54, 35);
    color: white;

}
.b{
    margin-top: 112px;
    margin-right: 80px;
    height: 80px;
    cursor: pointer;
    width: 90px;
}
.c{
    cursor: pointer;
    margin-top: 67px;
    margin-right: 70px;
    margin-left: 39px;
    height: 130px;
    width: 180px;
    border-radius:100%;
}

.all{
    margin-left: 260px;
    display: grid;
    z-index: 0;
    
    margin-top: 200px;
    grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width:2450px){
    .all{
        left: 10;
        right: 10;
    grid-template-columns : 1fr;
    }
}
@media(min-width:2451px) and (max-width:3600px){
    .all{
        left: 10;
        right: 10;
    grid-template-columns : 1fr 1fr;
    }
}
@media(min-width:3601px) {
    .all{
        left: 10;
        right: 10;
    grid-template-columns : 1fr 1fr 1fr;
    }
}


.imgsize{
    border-radius: 333px;
}

.bb{
    cursor: pointer;
    height: 90px;
    width: 90px;
    margin-bottom: 130px;
    margin-left: 90px;
    margin-top: 100px;
}
.bb:hover{
    background-color: lightgray;

}
.c{
    justify-content: center;
    text-align: center;
    font-size: 43px;
    margin-top: -74px;
}